<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Votre réservation</title>
    <style type="text/css">
        body{
            width: 70px;
            margin: auto;
        }
        header{
            width:700px;
            margin-top: 50px;
            display:flex;
            justify-content: center;
            align-content: normal;

        }

        header h1{
            padding-top: 30px;
            padding-left: 100px;
        }
        hr{
            margin-top: 5px;
            box-shadow: 3px 3px 3px black;
        }
        .main{
             width: 700px;
             text-align: center;
        }

        .top{
            margin-top: 35px;
        }
        #logoHeader{
            margin-top: -5px;
            margin-left: -200px;
            padding-right: 60px;
            width: 100px;
            height: 100px;

        }

        li{
            list-style: none;
        }
        table{
            margin:auto;
            border-collapse: collapse;
        }
        th, tr, td{
            border-bottom:1px solid black;
            border-right: 1px solid black;
        }
        footer{
            margin-top: 60px;
            text-align: right;
        }
    </style>
</head>


<body>
<div class=container">
<header>
    <img id="logoHeader" src="http://arno2t.fr/img/L.jpg" />
    <h1 style="padding-top: 30px; padding-left: 100px;"> Votre réservation </h1>
</header>
<hr />
<div class="main" >
    <div class="top">
        <p> Bonjour,</p>

        <p>Vous trouverez ci-joint les détails de votre résevation du {{ dateDay }}.</p>
    </div>
    <div class="list">
        <ul >
            <li>Date de visite: {{ "now"|date('d/m/Y') }}</li>
            <li>Code de réservation: <strong>{{ticket.bookingCode}}</strong></li>
        </ul>
    </div>

    <div class="table">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Pays</th>
                <th>Réduction</th>
            </tr>
            </thead>
            <tbody>
            {% for visitor in ticket.visitors%}
                <tr>
                    <td>{{ visitor.lastName }}</td>
                    <td>{{ visitor.firstName }}</td>
                    <td>{{ visitor.country }}</td>
                    <td>{% if visitor.discount== true  %} Oui{% else %} Non
                        {% endif %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Prix total:</td>
                <td>{{ticket.price}} €</td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <img src="http://arno2t.fr/img/L.jpg" />
        <em>Le Louvre</em>
    </footer>
</div><!--main-->
</div>

</body>

</html>







